@media (max-width: 700px){
    .main-nav{
        display: grid;
        grid-template-rows: .25fr 1fr;
        grid-template-columns: 1fr;
    }
    .header{
        grid-row: 1/2;
        width:100%;
        grid-column:1/2;
    }


    .main-nav-buttons{
        display: grid;
        grid-template-rows:repeat(4,1fr);
        grid-template-columns:1fr;
    }
    .main-nav-buttons > li{
        margin:0;
    }
    #main-nav-about{
        grid-row:1/2;
    }
    #main-nav-upcoming{
        grid-row:2/3;
    }
    #main-nav-places{
        grid-row:3/4;
    }
    #main-nav-today{
        grid-row:4/5;
    }

}

@media (max-width: 1200px) and (min-width:700px){
    .main-nav{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
    .header{
        display: grid;
        grid-row: 1/2;
        width:100%;
        grid-column:1/3;
    }
    .main-nav-buttons{
        display: flex;
        grid-row: 2/3;
        grid-column:1/4;
        justify-content: space-around;
    }
    .main-nav-buttons > li{
        justify-content: center;
    }
}

@media (min-width: 1200px){
    .main-nav-buttons{
        display: flex;
        grid-column: 2/3;
    }
}

* {
    /*border: 1px dotted pink;*/
    color: red;
}

#login-splash{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}

.splash-bg{
    position: absolute;
    object-fit:cover;
    z-index: -1;
    grid-column: 1/7;
}

.fb-login-button{
    display: block;
    z-index:5;
    grid-column:5/6;
    grid-row: 4/5;
}

h2{
    font-size: 400%;
    line-height: 100%;
    margin:.5em;
}

#actual-site {
    display: none;
}
#main-container {
    display: flex;
    flex-direction: column;
}

.main-nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main-nav-buttons{

    /*display: flex;*/
    justify-content: center;

}

.main-nav-buttons > li{
    justify-content: center;
    width: 100%;
    margin:1em;
}

.upcoming-datetime{
    display: grid;
    grid-template-columns: 1fr .15fr 2fr .15fr 1fr;
    white-space: nowrap;
}

.upcoming-list-time{
    grid-column:1/2;
}

.upcoming-list-title{
    overflow: hidden;
    grid-column: 3/4;
    text-overflow: ellipsis;
}

.upcoming-list-place{
    grid-column:5/6;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
}

img {
    width: 100vw;
}

.map-section {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 75vh;
    background-image: url('/images/gallery9.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
}

#map {
    grid-column: 2/3;
    grid-row: 1/4;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.info-window-img {
    width: 20em;
}

.each-header-section-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    display: inline-block;
    font-weight: lighter;
}

.section-nav  {
    display: inline-block;
    list-style-type: none;
    float:right;
    align-self: flex-end;
}

.section-nav>li {
    display: inline;
    margin: 2em;
}

/*li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}*/



#today {
    color: #2196f3;
}

.today-nav a {
    color: red;
}

#about {
    color: white;
}

#places {
    color: yellow;
}

#upcoming {
    color: red;
}

.upcoming-nav a {
    color: yellow;
}

#home {
    color: white;
    letter-spacing: 2em;
    margin-left:1em;
    font-weight: lighter;
}

.gallery-img {
    width: 96%;
    margin: 2%;
}

.gallery-info {
    line-height: 125%;
    color: white;
    text-align: center;
    margin: 2%;
}

.upcoming-info {
    color: yellow;

}

.upcoming-info-body {

    background: rgba(0,0,0,.2);
}

#no-events {
    text-align: center;
    background: white;
}

.outofboundsalert {
    font-style: italic;
    text-align: center;
    color: white;
}





















#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 50%;
        height: 100%;
        background: rgba(5,5,5,.95);
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
    }
