*{
    /*border: 1px dotted pink;*/
    color: red;
}

img{
    width:100vw;
}

.gallery-img{
    width: 96%;
    margin: 2%;
}

.gallery-info{
    line-height: 125%;
    color:white;
    text-align: center;
    margin: 2%;
}

.upcoming-info{
    color:white;
}

.splash{
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:75vh;
    background-image: url('/images/gallery9.jpg');
    background-size:100vw;
    background-repeat: no-repeat;


    /*put media query for less than 1050 wide to just have map take up whole thing*/

}

.section-nav ul{

    list-style-type: none;
}

.section-nav > li{
    display:inline;
    margin: 2em;
    float: right;
}


.today-nav  a{
    color:red;
}

.upcoming-nav a {
    color:yellow;
}


#map {
    grid-column: 2/3;
    grid-row: 1/4;
    height:100%;
    width: 100%;
    z-index: 2;

}

#today{
    color:royalblue;
}
#about{
    color:white;
}

#places{
    color:yellow;
}

#upcoming{
    color:red;
}

#home{
    color:white;
    letter-spacing: 2em;
}
