*{
    /*border: 1px dotted pink;*/
    color: red;
}

actualSite{
    /*display: none;*/
}

.login-splash{
    background-image: url('/images/gallery1bright.jpg');
    background-size:110%;
    /*background-repeat:no-repeat;*/
    height:100vh;

}

img{
    width:100vw;
}

.gallery-img{
    width: 96%;
    margin: 2%;
}

#no-events{
    text-align: center;
    background: white;
}

.gallery-info{
    line-height: 125%;
    color:white;
    text-align: center;
    margin: 2%;
}

.upcoming-info{
    color:white;
}
.info-window-img{
    width:20em;
}
.splash{
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:75vh;
    background-image: url('/images/gallery9.jpg');
    background-size:100vw;
    background-repeat: no-repeat;


    /*put media query for less than 1050 wide to just have map take up whole thing*/

}

.outofboundsalert{
    font-style: italic;
    text-align:center;
    color:white;
}

.section-nav ul{
    display:flex;
    list-style-type: none;
    float: right;
}

.section-nav > li{
    display:inline;
    margin: 2em;
}

.each-header-section-nav{
    display:flex;
    justify-content: space-between;
}

.today-nav  a{
    color:red;
}

.upcoming-nav a {
    color:yellow;
}


#map {
    grid-column: 2/3;
    grid-row: 1/4;
    height:100%;
    width: 100%;
    z-index: 2;

}
.header{
    display:flex;
}

#today{
    color:royalblue;
}
#about{
    color:white;
}

#places{
    color:yellow;
}

#upcoming{
    color:red;
}

#home{
    color:white;
    letter-spacing: 2em;
}
