*{
    border: 1px dotted pink;

}

body{
    /*background-image: url(/images/redlinetest.jpg);
    background-position: top;*/
    height:100vh;
}

.bg-img{
    height: 100vh;
    min-width: 100vw;
    position: fixed;
    z-index: -1;
}

main{}

.main-body{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.main-nav{
    grid-column: 1/3;
}

.main-left{
    grid-column: 1/2;
}

.main-right{
    grid-column: 2/3;
}

#map {
       height:100%;
      }

.map-container{
    height:100%;
}

.places-map{
    width: 100%;
    height:200px;
}

.places-title {
    background: white;
    color: blue;
    text-align:center;

}
